maven.repository.server=artifactory
# for artifactory it is enough to define URL only
maven.repository.artifactory.url = https://opuscapita.jfrog.io/opuscapita/maven-get

# for nexus it is necessary to define URL and name
#maven.repository.nexus.url = http://maven.scand/nexus/service/local/artifact/maven/content
maven.repository.nexus.metadata.url = http://maven.scand/nexus/content/groups/jcatalog
#maven.repository.nexus.name = jcatalog

# for each kind of server you might need to set up username and password
maven.repository.username=
maven.repository.password=

# all other configuration options could be found in default-configuration.properties file
# if required you can override them here
