# for each kind of server you might need to set up username and password
onedrive.repository.username=
onedrive.repository.password=

# all other configuration options could be found in default-configuration.properties file
# if required you can override them here
